<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx Store</title>
    <link rel="icon" type="image/x-icon" href="../img/logo/web.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/body.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-top">
                <div class="header-top_left header-flex-contact">
                    <p style="font-family:cursive;">TECH OTAKUS SAVE THE WORLD </p>
                </div>
                <div class="header_top_right header-flex-contact">
                    <p>
                        <a href=""><i class="fa-solid fa-envelope-open"></i></a>
                    </p>
                    <p>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </p>
                    <p>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                    </p>
                    <p>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </p>
                    <p>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </p>
                </div>
            </div>
            <div class="header-mid">
                <div class="header-mid_logo">
                    <img src="../img/logo/logo1.png" alt="">
                </div>
                <div class="header-mid_search">
                    <form action="">
                        <input type="text">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="header-mid_cart">
                    <p>
                        <a href="/signin"><i class="fa-solid fa-user"></i></i></a>
                    </p>
                    <p>
                        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    </p>
                </div>
            </div>
            <div class="header-bot">
                <ul>
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li><a href="/introduce">Giới thiệu</a></li>
                    <li><a href="/product">Sản phẩm</a></li>
                    <li><a href="#lienhe">Liên hệ</a></li>
                    <li><a href="/sitemap">Hệ thống cửa hàng</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="banner">
                <img src="../img/intro/intro1.jpg" alt="">
                <div class="banner-content">
                    <h1>LYNX</h1>
                    <p>LYNX - Cửa hàng đồng hồ thời trang quốc tế</p>
                    <p>- Đồng hồ nam <br>
                       - Đồng hồ nữ <br>
                       - Đồng hồ trẻ em<br>
                    </p>
                    <p>Đồng hàng cùng khách hàng trong hành trình chinh phục thời gian</p>
                    <div class="view" >
                        <a href="/">Quay lại trang chủ</a>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="footer">
            <div class="footer-top">
                <div class="footer-top_item">
                    <ul>
                        <li>GIỚI THIỆU</li>
                        <li>Lynx - Cửa hàng đồng hồ thời trang quốc tế</li>
                        <li></li>
                        <li>Với chúng tôi, không có việc gì quan trọng hơn việc nắm bắt thời gian!</li>
                    </ul>
                </div>
                <div class="footer-top_item">
                    <ul>
                        <li>CHÍNH SÁCH & PHÁP LÝ</li>
                        <li>Chính sách đổi trả </li>
                        <li>Chính sách vận chuyển</li>
                        <li>Chính sách bảo mật</li>
                        <li>Đều khoản dịch vụ</li>
                        <li>Quy chế hoạt động</li>
                    </ul>
                </div>
                <div class="footer-top_item">
                    <ul id="lienhe">
                        <li>THÔNG TIN LIÊN HỆ</li>
                        <li>0933999000</li>
                        <li>Fax: +84 (8) 999 000</li>
                        <li>cskh@lynxstorevie.com</li>
                        <li>Lynxstore Fanpage</li>
                    </ul>
                </div>
                <div class="footer-top_item">
                    <ul>
                        <li>HANOI STORED</li>
                        <li>33 Hàm Long, Hoàn Kiếm</li>
                        <li>9 B7 Phạm Ngọc Thạch, Đống Đa</li>
                    </ul>
                    <ul>
                        <li>TP.HCM STORED</li>
                        <li>12 Nguyễn Văn Bảo, Gò Vấp</li>
                        <li>45 Đ. Đinh Tiên Hoàng, Bến Nghé, Quận 1</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bot">
                <div class="footer-bottom_left">
                   <p> Copyright © 2022 by Lynx store. Powered by Vo Anh Hao</p> 
                </div>
                <div class="footer-bottom_right">
                    <img src="../img/footer/footer.png" alt="">
                </div>

            </div>
        </div>
    </div>
</body>

</html>